:root {
	--theme-name: "Gruvbox";
	--background: #fbf1c7;
	--foreground: #3c3836;
	--card: #fbf1c7;
	--card-foreground: #3c3836;
	--popover: #fbf1c7;
	--popover-foreground: #3c3836;
	--primary: #d65d0e;
	--primary-foreground: #fbf1c7;
	--secondary: #ebdbb2;
	--secondary-foreground: #3c3836;
	--muted: #d5c4a1;
	--muted-foreground: #665c54;
	--accent: #d5c4a1;
	--accent-foreground: #3c3836;
	--destructive: #cc241d;
	--border: #bdae93;
	--input: #bdae93;
	--ring: #d65d0e;
	--chart-1: #cc241d;
	--chart-2: #98971a;
	--chart-3: #d65d0e;
	--chart-4: #458588;
	--chart-5: #b16286;
	--radius: 0.625rem;
	--sidebar: #ebdbb2;
	--sidebar-foreground: #3c3836;
	--sidebar-primary: #d65d0e;
	--sidebar-primary-foreground: #fbf1c7;
	--sidebar-accent: #d5c4a1;
	--sidebar-accent-foreground: #3c3836;
	--sidebar-border: #bdae93;
	--sidebar-ring: #d65d0e;
}

.dark {
	--background: #1d2021;
	--foreground: #ebdbb2;
	--card: #282828;
	--card-foreground: #ebdbb2;
	--popover: #282828;
	--popover-foreground: #ebdbb2;
	--primary: #fe8019;
	--primary-foreground: #282828;
	--secondary: #32302f;
	--secondary-foreground: #ebdbb2;
	--muted: #3c3836;
	--muted-foreground: #a89984;
	--accent: #3c3836;
	--accent-foreground: #ebdbb2;
	--destructive: #fb4934;
	--border: #504945;
	--input: #504945;
	--ring: #fe8019;
	--chart-1: #fb4934;
	--chart-2: #b8bb26;
	--chart-3: #fe8019;
	--chart-4: #83a598;
	--chart-5: #d3869b;
	--sidebar: #282828;
	--sidebar-foreground: #ebdbb2;
	--sidebar-primary: #fe8019;
	--sidebar-primary-foreground: #282828;
	--sidebar-accent: #3c3836;
	--sidebar-accent-foreground: #ebdbb2;
	--sidebar-border: #504945;
	--sidebar-ring: #fe8019;
}
